.animal {

  padding: 5px;
  width: 300px;
  float: left;
  margin: 100px;
  font-size: 20px;

  }

.duis {
    color: red;
  }
img {
  width: 294px
}

.starfire {
  font-weight: bold;
}

.scotty {
  border: dotted magenta;




}

.cat {

  border: dotted green;






}

.dog {
  border: solid orange;



}


body {


}



h1 {

  font-size: 60px;

  text-align: center;

}

h2 {
  text-align: center;
  font-style: italic;
}


.links {

  word-spacing: 15px;
  text-align: center;

}

@media screen and (max-width: 1240px) {
  body {
    background-color: black;
    color: white;

  }
}
